[package]
authors = ["Bilal Elmoussaoui <bil.elmoussaoui@gmail.com>"]
categories = ["gui", "os::linux-apis", "api-bindings"]
description = "XDG portals wrapper in Rust using zbus"
edition = "2021"
exclude = ["interfaces/*.xml", "ashpd-demo/"]
keywords = ["portal", "flatpak", "xdg", "desktop", "dbus"]
license = "MIT"
name = "ashpd"
repository = "https://github.com/bilelmoussaoui/ashpd"
version = "0.11.0"
rust-version = "1.75"

[features]
async-std = ["zbus/async-io", "dep:async-fs", "dep:async-net", "futures-util/io"]
default = ["tokio"]

backend = ["async-trait", "tokio"]

gtk4 = ["gtk4_x11", "gtk4_wayland"]
gtk4_wayland = ["gdk4wayland", "glib", "dep:gtk4"]
gtk4_x11 = ["gdk4x11", "glib", "dep:gtk4"]
raw_handle = ["raw-window-handle"]
tokio = ["zbus/tokio", "dep:tokio"]
glib = ["dep:glib"]
wayland = ["wayland-client", "wayland-protocols", "wayland-backend"]

[dependencies]
async-fs = { version = "2.1", optional = true }
async-net = { version = "2.0", optional = true }
async-trait = { version = "0.1", optional = true }
enumflags2 = "0.7"
futures-channel = "0.3"
futures-util = "0.3"
gdk4wayland = { package = "gdk4-wayland", version = "0.9", optional = true }
gdk4x11 = { package = "gdk4-x11", version = "0.9", optional = true }
glib = { version = "0.20", optional = true }
gtk4 = { version = "0.9", optional = true }
pipewire = { version = "0.8", optional = true }
rand = { version = "0.9", default-features = false, features = [
    "std",
    "thread_rng",
] }
raw-window-handle = { version = "0.6", optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_repr = "0.1"
tokio = { version = "1.43", features = [
    "fs",
    "io-util",
], optional = true, default-features = false }
tracing = { version = "0.1", optional = true }
url = { version = "2.5", features = ["serde"] }
wayland-backend = { version = "0.3", optional = true, features = [
    "client_system",
] }
wayland-client = { version = "0.31", optional = true }
wayland-protocols = { version = "0.32", optional = true, features = [
    "unstable",
    "client",
    "staging",
] }
zbus = { version = "5.0", default-features = false, features = ["url"] }

[dev-dependencies]
serde_json = "1.0"
reis = { version = "0.4", features = ["tokio"] }
pipewire = "0.8.0"
tokio = { version = "1.41", features = [ "rt-multi-thread", "macros" ] }

[package.metadata.docs.rs]
features = ["backend", "gtk4", "raw_handle"]
rustc-args = ["--cfg", "docsrs"]
rustdoc-args = ["--cfg", "docsrs", "--generate-link-to-definition"]
