[package]
authors = ["Bilal Elmoussaoui <bil.elmoussaoui@gmail.com>"]
categories = ["gui", "os::linux-apis", "api-bindings"]
description = "XDG portals wrapper in Rust using zbus"
edition = "2018"
exclude = ["interfaces/*.xml"]
keywords = ["portal", "flatpak", "xdg", "desktop", "documents"]
license = "MIT"
name = "ashpd"
repository = "https://github.com/bilelmoussaoui/ashpd"
version = "0.1.0"

[features]
default_features = []
feature_gtk3 = ["gdk3x11", "gtk3"]
feature_gtk4 = ["gdk4x11", "gdk4wayland", "gtk4"]

[dependencies]
enumflags2 = "0.6"
gdk3x11 = {package = "gdkx11", git = "https://github.com/gtk-rs/gtk-rs", optional = true}
gtk3 = {package = "gtk", git = "https://github.com/gtk-rs/gtk-rs", optional = true}

gdk4wayland = {package = "gdk4-wayland", git = "https://github.com/gtk-rs/gtk4-rs", optional = true}
gdk4x11 = {package = "gdk4-x11", git = "https://github.com/gtk-rs/gtk4-rs", optional = true}
gtk4 = {git = "https://github.com/gtk-rs/gtk4-rs", optional = true}

serde = {version = "1.0", features = ["derive"]}
serde_repr = "0.1"
rand = "0.8"
strum = "0.21"
strum_macros = "0.21"
zbus = {git = "https://gitlab.freedesktop.org/dbus/zbus", branch = "main"}
zvariant = {git = "https://gitlab.freedesktop.org/dbus/zbus", branch = "main", features = ["enumflags2"], default-features = false}
zvariant_derive = {git = "https://gitlab.freedesktop.org/dbus/zbus", branch = "main"}
futures = "0.3"
