[package]
authors = ["Bilal Elmoussaoui <bil.elmoussaoui@gmail.com>"]
categories = ["gui", "os::linux-apis", "api-bindings"]
description = "XDG portals wrapper in Rust using zbus"
edition = "2021"
exclude = ["interfaces/*.xml", "ashpd-demo/"]
keywords = ["portal", "flatpak", "xdg", "desktop", "dbus"]
license = "MIT"
name = "ashpd"
repository = "https://github.com/bilelmoussaoui/ashpd"
version = "0.6.2"

[features]
async-std = ["zbus/async-io", "dep:async-std"]
default = ["async-std"]
gtk4 = ["gtk4_x11", "gtk4_wayland"]
gtk4_wayland = ["gdk4wayland", "dep:gtk4"]
gtk4_x11 = ["gdk4x11", "dep:gtk4"]
pipewire = ["pw", "libc"]
raw_handle = ["raw-window-handle", "wayland"]
tokio = ["zbus/tokio", "dep:tokio"]
wayland = ["wayland-client", "wayland-protocols", "wayland-backend"]

[dependencies]
async-std = {version = "1.12", optional = true}
enumflags2 = "0.7"
futures-channel = "0.3"
futures-util = "0.3"
gdk4wayland = {package = "gdk4-wayland", version = "0.7", optional = true}
gdk4x11 = {package = "gdk4-x11", version = "0.7", optional = true}
gtk4 = {version = "0.7", optional = true}
libc = {version = "0.2", optional = true}
once_cell = "1.14"
pw = {package = "pipewire", version = "0.6", optional = true}
rand = {version = "0.8", default-features = false}
raw-window-handle = {version = "0.5", optional = true}
serde = {version = "1.0", features = ["derive"]}
serde_repr = "0.1"
tokio = {version = "1.21", features = ["fs", "io-util"], optional = true, default-features = false}
tracing = {version = "0.1", optional = true}
url = {version = "2.3", features = ["serde"]}
wayland-backend = {version = "0.1", optional = true, features = ["client_system"]}
wayland-client = {version = "0.30", optional = true}
wayland-protocols = {version = "0.30", optional = true, features = ["unstable", "client"]}
zbus = {version = "3.1", default-features = false, features = ["url"]}

[dev-dependencies]
byteorder = "1.4"
serde_json = "1.0"
