[package]
authors = ["Bilal Elmoussaoui <bil.elmoussaoui@gmail.com>"]
categories = ["gui", "os::linux-apis", "api-bindings"]
description = "XDG portals wrapper in Rust using zbus"
edition = "2021"
exclude = ["interfaces/*.xml", "ashpd-demo/"]
keywords = ["portal", "flatpak", "xdg", "desktop", "dbus"]
license = "MIT"
name = "ashpd"
repository = "https://github.com/bilelmoussaoui/ashpd"
version = "0.4.0-alpha.3"

[features]
default = ["async-std"]
gtk3_x11 = ["gdk3x11", "dep:gtk3"]
gtk3_wayland = ["gdk3wayland", "dep:gtk3"]
gtk3 = ["gtk3_x11", "gtk3_wayland"]
gtk4_x11 = ["gdk4x11", "dep:gtk4"]
gtk4_wayland = ["gdk4wayland", "dep:gtk4"]
gtk4 = ["gtk4_x11", "gtk4_wayland"]
pipewire = ["pw", "libc"]
tokio = ["zbus/tokio", "dep:tokio"]
raw_handle = ["raw-window-handle", "wayland"]
wayland = ["wayland-client", "wayland-protocols", "wayland-backend"]

[dependencies]
enumflags2 = "0.7"
gdk3x11 = {package = "gdkx11", version = "0.17", optional = true}
gdk3wayland = {package = "gdkwayland", version = "0.17", optional = true}
gtk3 = {package = "gtk", version = "0.17", optional = true}

gdk4wayland = {package = "gdk4-wayland", version = "0.6", optional = true}
gdk4x11 = {package = "gdk4-x11", version = "0.6", optional = true}
gtk4 = {version = "0.6", optional = true}

pw = {package= "pipewire", version = "0.5", optional = true}
serde = {version = "1.0", features = ["derive"]}
serde_repr = "0.1"
rand = {version = "0.8", default-features = false}
zbus = {version = "3.1", features = ["url"]}
futures-util = "0.3"
futures-channel = "0.3"
tracing = {version = "0.1", optional = true}
libc = {version = "0.2", optional = true}
raw-window-handle = {version = "0.5", optional = true}
wayland-client = {version = "0.30", optional = true}
wayland-protocols = {version = "0.30", optional = true, features = ["unstable", "client"]}
wayland-backend = {version = "0.1", optional = true, features = ["client_system"]}
async-std = {version = "1.12", optional = true}
tokio = {version = "1.21", features = ["fs", "io-util"], optional = true, default-features = false}
once_cell = "1.14"
url = {version = "2.3", features = ["serde"]}

[dev-dependencies]
serde_json = "1.0"
byteorder = "1.4"
