picture {
    border-radius: 12px;
}

color {
    border-radius: 4px;
}

.page-content {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;
}

textview {
    padding: 12px;
}

notification infobar label {
    padding: 6px;
}

.map-marker {
    color: var(--red-3);
}

banner.error revealer widget {
    background-color: var(--error-bg-color);
    color: var(--error-fg-color);
}

banner.success revealer widget {
    background-color: var(--success-bg-color);
    color: var(--success-fg-color);
}

.installed-apps {
    background-color: var(--window-bg-color);
}

toolbarview scrolledwindow.card undershoot.top,
toolbarview scrolledwindow.card undershoot.bottom {
  box-shadow: none;
  background: none;
}

.secret-text, .secret-text text {
  background: none;
}
