[package]
name = "ashpd-demo"
version = "0.2.3"
authors = ["Bilal Elmoussaoui <bil.elmoussaoui@gmail.com>"]
edition = "2021"

[dependencies]
tracing = "0.1"
tracing-subscriber = "0.3"
gettext-rs = { version = "0.7", features = ["gettext-system"] }
gtk-macros = "0.3"
once_cell = "1.14"
futures = "0.3"
gst = {package="gstreamer", version = "0.18"}
gst4gtk = { package = "gst-plugin-gtk4", version = "0.1"}
gtk = {package = "gtk4", version = "0.4"}
adw = {version = "0.2.0-alpha.2", package = "libadwaita", features=["v1_2"]}
serde = {version = "1.0", features = ["derive"]}
chrono = {version = "0.4", default-features = false, features = ["clock"]}
url = {version = "2.3", features = ["serde"]}

[dependencies.shumate]
package = "libshumate"
version = "0.1.0-alpha.4"

[dependencies.ashpd]
git = "https://github.com/bilelmoussaoui/ashpd"
features = ["gtk4", "pipewire", "tracing"]
