picture {
    border-radius: 12px;
}
color {
    border-radius: 4px;
}

.page-content {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;
}

notification .success {
    background-color: @success_bg_color;
    color: @success_fg_color;
}

notification infobar label {
    padding: 6px;
}

.map-marker {
    color: #e01b24;
}

.large-button {
    min-width: 200px;
}
