on:
  push:
    branches: [master]
  pull_request:
name: Demo CI
jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-22.04
    container:
      image: bilelmoussaoui/flatpak-github-actions:43
      options: --privileged
    steps:
    - uses: actions/checkout@v3
    - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v4
      with:
        bundle: "ashpd-demo.flatpak"
        manifest-path: "ashpd-demo/build-aux/com.belmoussaoui.ashpd.demo.Devel.json"
        run-tests: "true"
        cache-key: flatpak-builder-${{ github.sha }}
