name: github pages

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-22.04
    permissions:
      pages: write
    container:
      image: ghcr.io/gtk-rs/gtk4-rs/gtk4:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo dnf install -y pipewire-devel clang-devel
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: --cfg docsrs
          RUSTDOCFLAGS: --cfg docsrs -Z unstable-options --extern-html-root-url=zbus=https://docs.rs/zbus/latest/
              --extern-html-root-url=pipewire=https://pipewire.pages.freedesktop.org/pipewire-rs/
              --extern-html-root-url=zvariant=https://docs.rs/zvariant/latest/
              --extern-html-root-url=enumflags2=https://docs.rs/enumflags2/latest/
        with:
          command: doc
          args: --package ashpd --features "gtk4,pipewire,wayland,raw_handle" --no-deps

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        env:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc/
